
.id{
    font-family: 'Roboto', sans-serif; 
    color:white;
    font-size: 20px;
    display: flex;
    position: relative;
    padding: 20px 10px 14px 20px;
    margin-left: 100px;
    margin-top: 20px;
    
    

}

.slogan{
    margin-top: 20px;
    font-size: 9px;
    color: rgb(146, 129, 129);
}
.logo{
    display: flex;
    margin-top: -15px;
    margin-left: -170px;
    width: 50px;
    height: 50px;
    
    
}





.menu{
    font-family: 'Roboto', sans-serif; 
    padding: 1px 1px 1px 1px;
    font-size: 18px;
    margin: -12px;
    margin-left: 5px;
        
        
}
nav {
    color: white;
    margin-top: 15px;
    
}
.tabs-wrapper {
    display: flex;
    
  }
  
  .tab {
    flex: 1;
    border: none;
    background-color: transparent;
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
    color: white;
    margin-top: -20px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px; 
  }
  
  .tab.active {
    border-bottom: 3px solid blue;
    
  }
  
  .content {
    display: none;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    
  }
  
  .content.active {
    display: block;
    margin-top: 15px;
  }
  .botao-buscar{
    margin-left: 130px;
  }

.busca{
    display: block;
    background: #292A30;
    border: 2px solid #737578;
    margin-bottom: 10px;
    height: 100px;
    width: 310px;
    padding: 25px 5px 5px 2px;
    outline: none;
    
    

}
.here{
    width: 20px;
    height: 20px;      
    margin-left: 30px;  
    

}
.go{
    width: 20px;
    height: 20px;      
    margin-left: 30px;
    
}
.caixa-maior{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQycfAgwqa9nwFt5UozqrhZW3Em9BDQpFOSnQ&usqp=CAU') ;
    width: 320px;
    height: 130px;
    
   
    
    
    
}
input{
    margin-bottom: 30px;
    margin-left: 70px;
    width: 200px;
}
.caixa-master{
    width: 10%;
    min-width: 320px;
    height: 97.6vh;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px #0000004d;
    background-color: white;
    
    

}

body{
    /*background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQs2Io4UWPKNNyYtb4ygpL7CnNjmEhlz7pBGA&usqp=CAU');*/
    background-position:center;
    background-size: contain;
    
    
}
p{
    font-size: 15px;
    margin-left: 15px;
}

#map {
    width: 322%;
    height: 680px;
    position:relative;
    left:101%;
    top:-210%;

    
  }



  